<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/smallicons-logotypes/32/amazon-16.png" />
    <link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body>
<div id = "nav">
    <div class = "innerpadding">
       <li id = "logo"><a href = "#" >
           <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3.png" alt="AmazonFresh Home" />
        </a>
       </li>
        <span id = "greetings">
            Already an AmazonFresh customer?
            <a href="#" id="signInLink">Sign in</a>
        </span>
    </div>
</div>
</body>
</html>