<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--Scripts-->
   <!-- <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
   <script src="/javascripts/vendor/angular-1.5.3.js"></script>-->
    <script src="//kendo.cdn.telerik.com/2016.1.412/js/jquery.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.1.412/js/angular.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2016.1.412/js/kendo.all.min.js"></script>
    <script src="/javascripts/vendor/angular-route.js"></script>
    <script src="/javascripts/app.js"></script>

    <!-- Directives scripts -->

    <script src="/javascripts/directives/passwordpattern.js"></script>
    <script src="/javascripts/directives/passwordstrength.js"></script>

    <!-- Scripts for authentication-->
    <script src="/javascripts/services/AuthService.js"></script>
    <script src="/javascripts/controllers/AuthController.js"></script>

    <!-- Scripts for customers -->
    <script src="/javascripts/controllers/customersController.js"></script>

    <!--<script data-main="/javascripts/main.js" src="/javascripts/vendor/require-2.2.0.js"></script>-->

    <!-- Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/smallicons-logotypes/32/amazon-16.png"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.rtl.min.css"/>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.silver.min.css"/>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.412/styles/kendo.mobile.all.min.css"/>
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.1.412/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.1.412/styles/kendo.material.min.css" />

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    <base href="/">
</head>
<body ng-app="amazonfresh" >
<div id="nav">
    <div class="innerpadding">
        <li id="logo"><a href="#">
                <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3.png"
                     alt="AmazonFresh Home"/>
            </a>
        </li>
    </div>
</div>
<div class="main-content" ng-view>

</div>
<!--<script src="./jquery/passwordmeter.js"></script>-->
<!--<script src="./jquery/signup_jqury.js"></script>
<script src="./javascripts/card.js"></script>
<script>
    new Card({
        form: document.querySelector('form'),
        container: '.card-wrapper'
    });
</script>-->
</body>
</html>
