<div id = "AdminSidePanel">
    <div id = "userbox">
        <img style="margin-left: 2rem; margin-top: 4rem" src="https://cdn3.iconfinder.com/data/icons/basic-interface/100/user_man-64.png" />
        <span id = "admin-name">
            <button style="background-color: transparent; border: none" class="dropdown-toggle" data-toggle="dropdown" type="button" >
                <span class="caret"></span>
                <ul class="dropdown-menu">
                    <li><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
                </ul>
            </button>
        </span>
    </div>

    <ul style="list-style: none" class = "sidebar-nav">
        <li><a href="#"  ng-click="getPendingCustomers()">Customers &nbsp <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male-24.png" />
        </a><span style="margin-left: 12rem" class="notification">2</span></li>
        <li><a href="#" ng-click = "getPendingProducts()">Products &nbsp <img src="https://cdn2.iconfinder.com/data/icons/food-drink-10/24/food-drink-31-24.png" />
        </a><span style="margin-left: 11.2rem" class="notification">2</span></li>
        <li><a href="#" ng-click="getPendingFarmers()">Farmers &nbsp <img src="https://cdn3.iconfinder.com/data/icons/mobipeople/512/farmer_remove_volume_vector_icons-24.png" />
        </a><span class="notification">2</span></li>
        <li><a href="#">Charts &nbsp <img src="https://cdn0.iconfinder.com/data/icons/free-misc-icon-set-2/512/graph_up_arrow-24.png" />
        </a></li>
    </ul>
</div>


<div class = "searchdiv ">
    <input id = "searchAdmin" type="text" placeholder="Search" ng-model = "searchText" />
    <button id="searchButton" type="button">
        <img style="height: 16px; width: 16px" src="https://cdn2.iconfinder.com/data/icons/kailoon/myicon/search.png" /></button>
    <a style="text-decoration: none" id="advanced-search" ng-click = "popup.center().open()" ng-show="!popupvisible">Advanced Search</a>
</div>
<!--<<<<<<< HEAD
<div class="popup" kendo-window = "popup" k-visible = "false" k-on-open="popupvisible = true" k-modal="true"
     k-on-close="popupvisible = false">
<popup-directive > </popup-directive>
    &lt;!&ndash;<div class="form-group">
        <label for="sel1">Search For:</label>
        <select class="form-control" id="sel1">
            <option>Farmers</option>
            <option>Products</option>
            <option>Customers</option>
            <option>Trips</option>
        </select>
    </div>&ndash;&gt;
=======-->
<div class="admin-advanced-search-window" kendo-window = "popup" k-options="advancedSearchWindowOptions" k-on-open = "popupvisible = true" k-on-close="popupvisible = false">

    <div class="container admin-advanced-search-window-container">
        <div class = "col-md-4 form-group">
            <label for="sel1">Search For:</label>
            <select class="form-control" id="sel1">
                <option>Farmers</option>
                <option>Products</option>
                <option>Customers</option>
                <option>Trips</option>
            </select>
        </div>
    </div>


</div>

<div class="content" ng-repeat = "value in data.data">

    <div class="col-sm-4">
    <div id ="box">

        <div id= "boxbottombhalf">
            <button id="confirmButton" type="button" class="btn" >Confirm</button>
        </div>
        <div id = "innerpic">

            <div id = "innerpiccolor">
            </div>
            <div id = "innerbottompiccolor">
            </div>
            <h4 id = "h4text" ng-show = "abcd == 1"> {{ value.productName}}</h4>
            <h4 id = "h5text" ng-show = "abcd == 2"> {{ value.firstName}} {{value.lastName}}</h4>

        </div>

         <button id="deleteButton" type="button" class="btn btn-danger" >Delete</button>
    </div>
    </div>
</div>