.main-content{
    margin-top: 15%;
}

.login-form-wrapper {
    background: snow;
    opacity: 0.90;
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 1rem;
}

body {
    background :url(http://g-ec2.images-amazon.com/images/G/01/omaha/images/WelcomePage/af_welcomebackground._V288790855_.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#nav
{
    color: #fff;
    height: 45px;
    min-width: 1015px;
    margin: 0px;
    padding: 0px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/taskbar-bg.png);
    border: 0px solid #ccc;
    border-bottom-width: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}
#logo {
    list-style-type: none;
    margin-top: 1px;
    margin-left: 10px;
}

.sign-in-button-wrapper{
    width: 100%;
    text-align: center;
}

.sign-in-button {
    width: 95%;
    margin-top: 1rem;
}

.sign-up-prompt-span {
    font-weight: normal;!important;
    font-size: small;
}
h1{
    font-size: 24px !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    font-weight: normal !important;
    margin-top: -1rem !important;
}

.button{
    background-color: #b7b7b7 !important;
    border-radius: 1rem;
    -moz-border-radius: 5px;
    border-style: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 4px 25px 5px !important;
    text-align: center !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    height: 3rem !important;
    width: 114.047px;
}
.area{
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/categorypages/gradcx/seamless-white-line-unit-2._V383736962_.png);
    border-radius: 1rem;
    -moz-border-radius: 5rem;
    box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.5);
    -webkit-box-shadow: 0px 1px 100px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.5);
    display: inline-block;
    margin-left: -2rem;
    margin-right: auto;
    margin-bottom: 1rem !important;
    padding: 5rem;
    padding-bottom: 50rem;
    text-align: left;
    width: 80rem;
    margin-top:-10rem;
    height: 1rem !important;
    padding-bottom: 45rem;
}
.form-control{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
    padding: 8px;
    width: 31rem !important;
    font-size: 14px;
    height: 4rem !important;
}
input[type = email], input[type=password],input[type=text],.button{
    margin-bottom: -1rem;
}
meter {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 1rem auto 1em;
    width: 31rem;
    height: 0.5em;

    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}
meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: green; }
meter[value="4"]::-webkit-meter-optimum-value { background: #2B7BB9 ; }