.main-content{
    margin-top: 15%;
}

.login-form-wrapper {
    background: snow;
    opacity: 0.90;
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 1rem;
}

body {
    background :url(http://g-ec2.images-amazon.com/images/G/01/omaha/images/WelcomePage/af_welcomebackground._V288790855_.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#nav
{
    color: #fff;
    height: 45px;
    min-width: 1015px;
    margin: 0px;
    padding: 0px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/taskbar-bg.png);
    border: 0px solid #ccc;
    border-bottom-width: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}
#logo {
    list-style-type: none;
    margin-top: 1px;
    margin-left: 10px;
}

.sign-in-button-wrapper{
    width: 100%;
    text-align: center;
}

.sign-in-button {
    width: 95%;
    margin-top: 1rem;
}

.sign-up-prompt-span {
    font-weight: normal;!important;
    font-size: small;
}
h1{
    font-size: 24px !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    font-weight: normal !important;
    margin-top: -1rem !important;
}

.button{
    background-color: #b7b7b7 !important;
    border-radius: 1rem;
    -moz-border-radius: 5px;
    border-style: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 4px 25px 5px !important;
    text-align: center !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    height: 3rem !important;
    width: 114.047px;
}
.area{
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/categorypages/gradcx/seamless-white-line-unit-2._V383736962_.png);
    border-radius: 1rem !important;
    -moz-border-radius: 5rem !important;
    box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.5) !important;
    -webkit-box-shadow: 0px 1px 100px rgba(50, 50, 50, 0.5) !important;
    -moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.5) !important;
    display: inline-block !important;
    margin-left: -2rem !important;
    margin-right: auto !important;
    margin-bottom: 1rem !important;
    padding: 5rem !important;
    padding-bottom: 50rem !important;
    text-align: left !important;
    width: 80rem !important;
    margin-top:-10rem;
    height: 1rem !important;
    padding-bottom: 45rem;
}

/*.customer-text,.customer-email,.customer-password,.customer-address,.customer-cvc,.customer-expiry,.customer-cardName,.customer-cardNumber,.customer-state,.customer-city,.customer-number,.customer-ssn,.customer-zipcode{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    -webkit-appearance: textfield !important;
    background-color: white !important;
    -webkit-rtl-ordering: logical !important;
    -webkit-user-select: text !important;
    cursor: auto !important;
    text-rendering: auto !important;
    color: initial !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    text-transform: none !important;
    text-indent: 0px !important;
    text-shadow: none !important;
    display: inline-block !important;
    text-align: start !important;
    margin: 0em 0em 0em 0em !important;
    font: 13.3333px Arial !important;
    padding: 8px !important;
    width: 26rem !important;
    font-size: 14px !important;
    height: 2rem !important;
}*/

#customer-firstName,#customer-lastName,#customer-city,#customer-zipcode,#customer-email,#customer-address,#customer-phone,#customer-ssn{
    margin-bottom: 1rem !important;


    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    -webkit-appearance: textfield !important;
    background-color: white !important;
    -webkit-rtl-ordering: logical !important;
    -webkit-user-select: text !important;
    cursor: auto !important;
    text-rendering: auto !important;
    color: initial !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    text-transform: none !important;
    text-indent: 0px !important;
    text-shadow: none !important;
    display: inline-block !important;
    text-align: start !important;
    margin: 0em 0em 0em 0em !important;
    font: 13.3333px Arial !important;
    padding: 8px !important;
    width: 26rem !important;
    font-size: 14px !important;
    height: 2rem !important;
}
#customer-state{
    margin-bottom: 1rem !important;
}
#customer-cardName,#customer-expiry,#customer-cardNumber,#customer-cvc,#verifyPassword{
    margin-bottom: 1rem !important;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    -webkit-appearance: textfield !important;
    background-color: white !important;
    -webkit-rtl-ordering: logical !important;
    -webkit-user-select: text !important;
    cursor: auto !important;
    text-rendering: auto !important;
    color: initial !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    text-transform: none !important;
    text-indent: 0px !important;
    text-shadow: none !important;
    display: inline-block !important;
    text-align: start !important;
    margin: 0em 0em 0em 0em !important;
    font: 13.3333px Arial !important;
    padding: 8px !important;
    width: 26rem !important;
    font-size: 14px !important;
    height: 2rem !important;
}

input[name = customer-password]{
    margin-bottom: 1rem !important;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    -webkit-appearance: textfield !important;
    background-color: white !important;
    -webkit-rtl-ordering: logical !important;
    -webkit-user-select: text !important;
    cursor: auto !important;
    text-rendering: auto !important;
    color: initial !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    text-transform: none !important;
    text-indent: 0px !important;
    text-shadow: none !important;
    display: inline-block !important;
    text-align: start !important;
    margin: 0em 0em 0em 0em !important;
    font: 13.3333px Arial !important;
    padding: 8px !important;
    width: 26rem !important;
    font-size: 14px !important;
    height: 2rem !important;
}
#customer-cardName{
    margin-top: 20px !important;
}
.password-progress-bar {
    width: 41%;
    height: 0.5rem !important;
    margin: 0;
    margin-top:0.5rem;
}
.jp-card-front,.jp-card-back{
    background-image: url("http://www.ambrosiasw.com/assets/images/graphics_products/ipadwallpaper/wallpaper/Felt-Green.jpg") !important;
}
.k-tabstrip>.k-tabstrip-items>.k-item {
    border-radius: 0;
    background-color: #1DA237;
}
.k-tabstrip .k-tabstrip-items {
    padding: 0;
    background-color: #1DA237;
}
.k-panelbar .k-tabstrip-items .k-state-active, .k-tabstrip-items .k-state-active {
    background-color: #009900;
    background-image: none;
    border-color: #1DA237 !important;
}
.k-state-hover{
    background-color: #009933!important;
}

.driver-sign-up-input {
    width: 37% !important;
    height: 15% !important;
    margin-top: 1rem;
}

.driver-sign-up-button {
    float: right !important;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
}

#AdminSidePanel{
    z-index: 1000;
    margin-top: -3rem;
    position: fixed;
    width: 30rem;
    height: 100rem;
    overflow-y: auto;
    background: #303030 ;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#userbox{
    height: 15rem;
    width: 22rem;
    margin-top: 1rem;
    margin-left: 4rem;
    background-color:#404040;
    border-radius: 1rem;
}
#admin-name{
    color: #999999;
    font-size: 1.5rem;
    margin-left: 1rem;

}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    width: 20rem;
}
.sidebar-nav li a {

    display: block;
    text-decoration: none;
    color: #999999;
    font-size: 1.5rem;
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav{
    margin-top: 2rem;
}
.notification{
    position:absolute;
    margin-right: 10rem;
    margin-top:-4rem;
    background-color:#585858;
    line-height:15px;
    width:15px;
    margin-left:11rem;
    height:15px;
    padding-left: 3px;
    border-radius:10px;
}
#box{
    height: 20rem;
    width: 31rem;
    background-color: #404040;
    margin-left: 35rem;
    border-radius: 1rem;
    padding-top: 1rem;
}
#boxbottombhalf{
    height: 10rem;
    background-color: #585858;
}
#innerpic{
    height: 6rem;
    width: 8rem;
    margin-left: 2rem;
    margin-top: -3rem;
    border-radius: 10rem !important;
}
    #innerpiccolor{
    height: 3rem;
    background-color:#404040;
}
#innerbottompiccolor{
    background-color: #585858;
    height: 3rem;
}
#h4text{
    margin-left: 92px;
    margin-top: -52px;
    color: #999999;
}
#confirmButton{
    margin-left: 15rem;
    margin-top: 14.5rem;
    height: 34px;
    width: 67px;
    padding-left: 6px;
}
#deleteButton{
    margin-left: 23rem;
    margin-top: 1.5rem;
}

.content{
    width: 100rem;
    margin-left: -2rem ;
}

.col-sm-4{
    padding: 1rem;
}
.searchdiv{
    margin-top: -13rem;
    margin-left: 102rem;
    width: 26rem;
    height: 5rem;
    background-color:#585858 ;
    border-radius: 1rem;
}
#searchAdmin{
    width: 20rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    margin-top: 0.6rem;
}
#searchButton{
    height: 2.7rem;
    width: 3rem;
    background-color: #585858;
    border-radius: 0.5rem;
    margin-left: -7px;
    padding: 1px;
}
#advanced-search{
    font-weight: 200;
    color: floralwhite;
    margin-left: 16rem;
    font-size: 1rem;
}
.popup{
    margin-left: 45rem;
    border-radius: 1rem;
}
.k-window-titlebar{
    background-color:#585858 !important;
}
