<div id = "bill-cart" class="pull-right">
    <div >
        <input  type="image"  value="submit" src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/btn-proceedtocheckout2._V146077459_.png">
    </div>

    <div id = "bill-cartSubtotal" > Subtotal </div>

    <div> Updated item(s) in your cart </div>

   <!-- <div id="bill-quantity">-->
    <input id="bill-quantityValue" type="number" id="bill-quantityValue"> </input>

    <img src="https://images-na.ssl-images-amazon.com/images/I/81u0TBolABL._SR120,120__SR50,52_.jpg" height="50" title="Hass Avocado, Ripe, One Large">



</div>

<div class="pull-left">
<button  ng-click="generatebill()">generate bill</button>
<button  ng-click="deletebill()">delete bill</button>
<button  ng-click="searchbill()">search bill</button>
</div>>