<div ng-init="getallbills()"></div>
<div id="bill-order" ng-repeat="value in result | orderBy:'-'">
    <div id="bill-orderinfo" class="row" >
        <div id="bill-orderPlaced" class="left col-sm-4">
            ORDER PLACED
            <div>
                {{value.order_date | date:'yyyy-MM-dd'}}
            </div>
        </div>
        <div id="bill-totalAmount" class="mid col-sm-4">
            TOTAL
            <div>
                ${{value.total_amount}}
            </div>
        </div>
        <div id="bill-orderNumber" class="right col-sm-4">
            BILL #{{value.bill_id}}
        </div>
    </div >
    <div id="bill-iteminfo" ng-repeat="items in value.item_details"  class="row">
        <!--<div id="bill-itemImage"  >-->
            <img id="bill-itemImage" src="{{items.product_image_url}}" class="left col-sm-2">
        <!--</div>-->
        <div id="bill-item" class="midleft col-sm-5">
            <div id="bill-productId" >
                {{items.product_name}} X {{items.quantity}}
            </div>
            <div >
                Price Per Unit :${{items.price_per_unit}}
            </div>
            <div >
                Subtotal : ${{items.price_per_unit*items.quantity}}
            </div>
        </div>
        <div id="bill-expectedDeliveryDate" class="midright col-sm-3">
            <div>
                {{items.expectedDeliveryDate}}
                <!--{{isDelivered}}-->
            </div>

        </div>
        <div class="right col-sm-2">
            <button ng-click="trackPackage(items.trip_id)">Track Package</button>
        </div>
    </div>
</div>