<div id = "content" class = "container">
    <div id = "registration" class = "area">
        <h1 style="font-size: 2.5rem">Create New Account</h1>
        <form>
            <span class="form-group">
                 <input type="text" name="userName" ng-model="name" class="form-control" placeholder="Your Name"
                        title="Your Name" /><br><br>
            </span>
            <span class="form-group">
                <input type="email" name="email" ng-model="email" class="form-control" placeholder="E-mail Address"
                       title="E-mail Address" /><br><br>
            </span>
            <span class="form-group">
                <input type="email" name="emailCheck" ng-model="emailCheck" class="form-control" placeholder="Verify E-mail Address"
                       title="Verify E-mail Address" /><br><br>
            </span>
            <span class="form-group">
                  <input type="password" name="password" id = "password" ng-model="password" placeholder="Password"
                         class="form-control" title="Password" required />
            <span id="password-strength-text"></span>
            <meter max="4" id="password-strength-meter"></meter>
            <br>
            </span>
            <span class="form-group">
                <input type="password" name="verifyPassword" id = "verifyPassword" ng-model="verifyPassword" placeholder="Verify Password"
                       class="form-control" title="Verify Password" onchange="checkPasswordMatch();" />
            <span id = "marker"></span>
            <br><br>
            </span>
            <span class="form-group">
                <button type="submit"  class="button btn btn-primary">Continue</button>
            </span>

        </form>
    </div>
</div>
